
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.fontkeliye{
    font-family: 'Space Mono', monospace;
}

.font-mono {
  font-family: 'Space Mono', monospace;
}

@keyframes scale-in-out {
  0%, 100% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-scale-in-out {
  animation: scale-in-out 1.5s infinite;
}